@media (min-width: 576px) {
 .modal-dialog { max-width: none; }
}

/* .modal {
 width: 90%;
 height: ;
 padding: 0;
 align-content: center;
} */

h2, h4{
  font-family: 'Shadows Into Light', cursive;
}

p, h5 {

  font-size: 20px;
  font-family: 'Abel', sans-serif;
}
.navbar{

  font-family: 'Abel', sans-serif;
  font-size: 19px;
   /* background-image: url('/static/img/liverpool.jpg');  */
  background-repeat: repeat-x;

}


body{
  background-image: url('/static/img/black.jpg');
  z-index: 0;
  background-color: black;
  background-blend-mode: lighten;

}

.modal-content {
  background-color: rgba(255,0,255,0.7;

}
